<header>
    <h2>Sign up</h2>
</header>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, autofocus: true, placeholder: "Enter your first name" %>
            <%= f.input :last_name, placeholder: "Enter your last name" %>
            <%= f.input :username, required: true, placeholder: "Enter your username" %>
            <%= f.input :organization_name, placeholder: "Enter your Organization" %>
            <%= f.input :email, required: true, placeholder: "Enter your Email-Adress" %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Enter your password" %>
            <%= f.input :password_confirmation, required: true, placeholder: "Confirm" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>
