<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= simple_form_for(event) do |f| %>
      <%= f.input :title %>
      
      <%= f.input :description %>

      <%= f.input :start_date, as: :datetime, start_year: Date.today.year, ampm: true, order: [:day, :month, :year] %>
      
      <%= f.input :end_date, as: :datetime, start_year: Date.today.year, ampm: true, order: [:day, :month, :year] %>

      <%= f.input :venue %>
      
      <%= f.input :location %>

      <%= f.input :category_id, collection: Category.all, label: "Select Categories", prompt: true %>

      <%= f.input :seats, label: "Capacity", hint: "The number of Attendees to the event" %>

      <%= f.input :tag_list, label: "Tags", hint: "please enter comma seperated words only" %>

      <%= f.input :image, as: :file, label: "Upload an Image" %>

      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
    <p><%= link_to "Back", events_path %></p>
  </div>
</div>